<div class="row">
    <div class="col">
        <mat-form-field class="full-width">
            <mat-label>{{ label() }}</mat-label>
            <input
                matInput
                [placeholder]="placeholder()"
                [required]="required()"
                [value]="value()"
                (input)="value.set($event.target.value)"
                type="password"
            />
            @if (invalid()) {
                <mat-error>{{ errors()[0].message }}</mat-error>
            }
        </mat-form-field>
    </div>
</div>
